<%- include('partials/header.ejs') %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% book.forEach(book => { %>
    <section class="card">
        <img src="<%= 'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-M.jpg' %>" alt="book image">
        <h2><%= book.title %></h2>
        <h3>Author: <%= book.author  %></h3>
        <p>Notes: <%= book.notes%></p>
        <p>Date: <%= book.date_read %></p>
        <p>Rating over 5: <%=book.ratings%></p>
    </section>
   <% }); %>
   
</body>
</html>