<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="card-pro">
        <img src="<%= 'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-L.jpg' %>" alt="book image">
  
        <h1><%=book.title%></h1>
        <h2><%=book.author%></h2>
        <p class="ratings">
            <% for (let i = 0; i < book.ratings; i++) { %>
                <%= "⭐️" %>
            <% } %>
        </p>     
        <p class="notes">Notes <hr> <%=book.notes%></p>
    </div>
    
    
</body>
</html>